.nav {
    text-align: center;
}

.nav a {
    width: 120px;
    height: 58px;
    background-image: url(images/bg5.png);
    display: inline-block;
    line-height: 51px;
    text-decoration: none;
    color: #fff;
    font: 0 20px "宋体";

}

.nav a:hover {
    background-image: url(images/bg4.png);
}